/*VARIABLES =====================================================================*/
:root{
    /*COLORES ---------------------------*/
    --azul-cielo: #A7D2DB;
    --azul-detalle-claro: #5F9CAD;
    --azul-detalle: #337C8A;
    --rojo: #CC6262;
    --rojo-oscuro: #AA3D28;
    --hierba1: #67A57A;
    --negro: #2D2B30;
    --blanco: #F6F4E7;
    --blanco-oscuro: #D3D0C1;
    --dark-clr: #263c40;

    /*DISTANCIAS Y TAMAÑOS---------------------------*/
    --distancia-suelo: 26%;
    --distancia-personaje-izda: 5%;
    --tamaño-bordes: 0.5vw;
}

/* FONDO ======================================================================== */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--negro); 
  font-family: "Sniglet-Regular", Arial, Helvetica, sans-serif;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-wrap: balance;
}

html * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ESCALA CONTENEDOR ======================================================================== */

/* Permitir selección en elementos que necesitan ser interactivos */
button, input, textarea, a, [role="button"], [tabindex="0"], p {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: pointer;
}

.general-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Ajustar la proporción según el tamaño de la pantalla */
@media (min-aspect-ratio: 16/9) {
  /* Pantallas más anchas que 16:9 */
  .general-wrapper {
      width: 177.78vh; /* 16/9 * 100vh para mantener la proporción 16:9 */
      height: 100vh;
      margin: 0 auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  /* Pantallas más estrechas que 16:9 */
  .general-wrapper {
      width: 100vw;
      height: 56.25vw; /* 9/16 * 100vw para mantener la proporción 16:9 */
  }
}

/*GENERAL ASSETS =====================================================================*/
/*CIELO--------------------------------*/
.sky-index {
  background: linear-gradient(#9bcbcf, #D6EBEC);
}

.sky-juego {
  background: linear-gradient(#AFD3D6, #D6EBEC 15%);
}

/*BOTONES ------------------------------*/
button {
  text-align: center;
  background-color: var(--rojo);
  border: var(--tamaño-bordes) solid var(--rojo-oscuro);
  border-radius: 100rem;
  color: white;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05) rotate(-2deg);
  transition: 0.3s;
}

/*MODAL ----------------------------------------------------*/ 
.modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.719);
  display: grid;
  place-items: center;
}

.modal .modal-content {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 80%;
  height: fit-content;
  min-height: 35%;
  padding: 3% 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.modal .modal-content > * {
  width: 100%;
}

/*FONTS =====================================================================*/
@font-face {
    font-family: Sniglet-Regular;
    src: url(../assets/fonts/Sniglet-Regular.ttf);
  }

  @font-face {
    font-family: Grandstander;
    src: url(../assets/fonts/Grandstander-VariableFont_wght.ttf);
  }

/*ANIMATIONS =====================================================================*/
/*BOTONES HUD---------------------------*/
.anim-btn-hud {
  cursor: pointer;
  transition: 0.2s;
}

.anim-btn-hud:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.anim-btn-hud:active {
  filter:hue-rotate(168deg) saturate(3);
}

/*SKEW---------------------------*/
.anim-skew {
  animation: skew 5s ease-in-out infinite alternate;
}
@keyframes skew {
  70% {
      transform: skew(0) translateX(0);
  }
  100% {
      transform: skew(-5deg) translateX(2%);
  }
}

