/*ELEMENTOS SUPERIOR ========================================================================*/
/*LOGO ----------------------------------------------*/ 
#empathika-logo{
    position: absolute;

    left: 0;
    right: 0;
    top: 25%;
    margin: 0 auto;
    width: 48%;
}

#empathika-logo h2 {
    font-size: 200%;
    color: #fff;
    text-align: center;
    margin: 0;
    font-family: "Grandstander", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 275%;
    white-space: nowrap;
}

/*BURBUJA ----------------------------------------------*/ 
#burbuja-index {
    position: absolute;
    right: 3%;
    top: 3%;
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#burbuja-index::before {
    content: "Para edades de 5 a 8 años";
    position: absolute;
    text-align: center;
    margin: 15%;
    color: white;
    

}

/*BOTÓN INFO ----------------------------------------------*/ 
#btn-info {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 8%;
}

/*MODAL ----------------------------------------------------*/ 
#modal-info .modal-content{
    gap: 2ch;
    transform-origin: center center;
    animation: anim-modal 0.7s ease-in-out forwards;
}

@keyframes anim-modal {
    0% { scale: 0; opacity: 0; } 
    50% { scale: 1.1; opacity: 1; } /* Escala un poco más para notar el efecto */
    80% { scale: 0.98; opacity: 1; }
    100% { scale: 1; opacity: 1; }
}

#modal-info .modal-content p:last-child{
    font-size: 80%;
}

.ocultar-modal {
    display: none;
}


/*BOTÓN JUGAR ----------------------------------------------*/ 
#btn-jugar {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30%;
    height: 13%;
    font-size: 150%;
}

/*FONDO ========================================================================*/
#index-cesped {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.espejar-img {
    transform: scale(-1, 1);
    right: 0;
}

/*PLANTAS GROW ----------------------------------------------*/ 
/*PLANTA 1*/
    .plantagrow-index-1 {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
    }
    .plantagrow-index-1 svg {
        position: absolute;
        width: 25%;
        bottom: -3%;
    }

    .plantagrow-index-1 svg:first-child {
        left: -1%;
    }

    .plantagrow-index-1 svg:last-child {
        right: -1%;
    }

/*PLANTA 2*/
    .plantagrow-index-2 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .plantagrow-index-2 svg {
        position: absolute;
        width: 26%;
        top: -2%;
    }

    .plantagrow-index-2 svg:first-child {
        left: 19%;
    }

    .plantagrow-index-2 svg:last-child {
        right: 19%;
    }

/*FLORES----------------------------------------------*/ 
.index-flores svg{
    width: 9%;
    position: absolute;
    bottom: 3%;
}

.index-flores svg:first-child {
    left: 23%;
}

.index-flores svg:last-child {
    right: 23%;
}

/*ÁRBOLES----------------------------------------------*/ 
    .arbol-index img{
        width: 38%;
        position: absolute;
    }

/*PLANTA VERDE----------------------------------------------*/ 
    .plantaverde-index > * {
        width: 14%;
        position: absolute;
        bottom: 0;
    }

    .plantaverde-index > img:first-child {
        left: 0;
    }

    .plantaverde-index img {
        transform-origin: 0% 100%; 
        animation: anim-plantaverde-index 2s cubic-bezier(.78,.43,.5,1.25) forwards;
    }

    @keyframes anim-plantaverde-index {
        0% {scale:0;}
        100% {scale:1;}
    }

/*CONTENEDORES----------------------------------------------*/
    .index-monticulo, .index-mountain, .index-nubes {
        position: absolute;
        width: 100%;
        height: 100%;
    }
/*MONTICULO----------------------------------------------*/
    .index-monticulo img {
        width: 39%;
        position: absolute;
        bottom: 27%;
    }

/*MONTAÑAS----------------------------------------------*/
    .index-mountain img {
        width: 48%;
        position: absolute;
        bottom: 31%;
    }

/*SOL----------------------------------------------*/
    .index-sol {
        background-color: #e2c033;
        width: 30%;
        height: 30%;
        position: absolute;
        margin: 0 auto;
        bottom: 15%;
        left: 0;
        right: 0;
        border-radius: 50%;
    }

/*NUBES----------------------------------------------*/
    .index-nubes img {
        width: 12%;
        height: auto;
        position: absolute;
        bottom: 50%;
    }

    .index-nubes img:first-child {
        left: 13%;
    }

    .index-nubes img:last-child {
        right: 13%;
    }

/*ESTRELLA----------------------------------------------*/
    .index-estrella {
        width: 7%;
        height: auto;
        position: absolute;
        bottom: 80%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }