.oculto {
    opacity: 0;
    pointer-events: none;
}

/* HUD INFERIOR ======================================================================== */

.hud-inferior {
    position: absolute;
    width: 95%;
    height: 19%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}

/*FLECHAS ----------------------------------------------*/ 
    .flecha {
        height: 60%;
        display: flex;
        cursor: pointer;
    }
    

/*OBJETOS USABLES ----------------------------------------------*/ 
    .usables-container {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .usable {
        height: 60%;
        aspect-ratio: 1/1;
        background-color: #82842D;
        border-radius: 15%;
    }

/* HUD SUPERIOR ======================================================================== */
.hud-superior {
    position: absolute;
    width: 20%;
    top: 3%;
    right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    z-index: 2000;
}

    /*BOTÓN AYUDA ----------------------------------------------*/ 
    .btn-help {
        cursor: pointer;
    }

    /*OESTRELLA PUNTOS ------------------------------------------*/ 
    .estrella-puntos {
        position: relative;
    }

    .estrella-puntos p {
        pointer-events: none;
        position: absolute;
        top: 58%;
        left: 50%; /* Añade esta línea para el centrado horizontal */
        transform: translate(-50%, -50%);
        font-family: 'Grandstander', Arial, Helvetica, sans-serif;
        font-size: 250%;
        font-weight: 700;
        color: var(--dark-clr);
    }
