/*DIALOGOS EN JUEGO ================================================================*/

.dialog {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 1000;    
}

.dialog-close {
    display: none;
}

/*CONTENEDOR DE DIÁLOGO ----------------------------------------------*/ 
    .dialog .dialog-wrapper .dialog-container {
        width: 80%;
        height:fit-content;
        min-height: 50%;
        padding: 3% 5%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
        background-color: white;
        display: flex; 
        align-items: center;  
        border-radius: 1em;
    }

    /*IMAGEN DEL PERSONAJE */
    .dialog .dialog-wrapper .dialog-container .img-personaje {
        pointer-events: none;
        position: absolute;
        width: 40%;
        right: -5%;
    }


    /*NOMBRE DEL PERSONAJE*/
    .nombre-personaje {
        content: 'Lumo';
        position: absolute;
        top: -10%;
        left: 4%;
        padding: 1% 6%;
        background-color: var(--azul-detalle);
        border: var(--tamaño-bordes) solid var(--azul-detalle-claro);
        color: white;
        font-family: "Grandstander", Arial, Helvetica, sans-serif;
        font-size: 150%;
        font-weight: 700;
        border-radius: 100px;
    }

    /*TEXTO DEL DIÁLOGO */
    .dialog .dialog-wrapper .dialog-container .dialogo-txt {
        pointer-events: none;
       padding-top: 4%;
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        width: 65%;
        font-size: 125%;
        margin: 2% 0 5%;
    }

    /*POSICIÓN PERSONAJE ----------------------------------------------*/ 
    .img-personaje {
        bottom: 5%;
    }

    /*ESTRELLA DIÁLOGOS -------------------------------------------------*/
    .estrellatxt {
        height: 2em;
        vertical-align: middle;
        display: inline-block;
        margin-bottom: 3%;
        position: relative;
        width: auto;
    }

    /*BOTONES -------------------------------------------------------------*/ 

    .dialog .dialog-wrapper .dialog-btns-container {
        position: absolute;
        bottom: 7%;
        width: 94%;
        height: 20%;

        left: 50%;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .dialog .dialog-wrapper .dialog-btns-container button {
        flex: 1;
        height: 80%;
        max-width: 50%;
    }

    /*BOTÓN BOCADILLO DIÁLOGO ----------------------------------------------------*/ 
    .btn-hablar {
        transform-origin: center bottom;
        position: absolute;
        width: 40%;
        opacity: 0;
        transform: scale(0);
        pointer-events: none;
        transition: none;
        /*scale: 1 0.5;*/
    }

    .btn-hablar:hover {
        transform: scale(1.2) !important;
        transition: transform 0.2s ease;
}

    



 

