/*ANIMACIÓN DE SALIDA--------------------------*/
.empujar-leave {
    transform: translateX(0);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    will-change: transform; /* Optimización para rendimiento */
    backface-visibility: hidden; /* Reduce parpadeos */
}

.empujar-leave-active {
    transition: transform 0.5s ease-in-out;
}

.empujar-leave-to {
    transform: translateX(-100%);
}

/*ANIMACIÓN DE ENTRADA--------------------------*/
.empujar-enter {
    transform: translateX(100%);
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    backface-visibility: hidden;
}

.empujar-enter-active {
    transition: transform 0.5s ease-in-out;
}

.empujar-enter-to {
    transform: translateX(0);
    opacity: 1;
}

/*ANIMACIÓN INVERSA (pantalla2 a pantalla1)--------------------------*/
.reverse-transition .empujar-leave-to {
    transform: translateX(100%);
}

.reverse-transition .empujar-enter {
    transform: translateX(-100%);
}