/*PERSONAJES ========================================================================*/
.personaje-container {
    position: absolute;
    bottom: var(--distancia-suelo);
}

/*PERSONAJE PRINCIPAL ===============================================*/
#protagonista-container {
    position: absolute;
    bottom: var(--distancia-suelo);
    transition: left 1s ease; 
    animation: entrada 1s ease forwards;
    width: 15%;
}

.protagonista-flip {
    transform: scaleX(-1);
}

/*ELEMENTOS =========================================================*/
.bg-rayos {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    mix-blend-mode: color-dodge;
    opacity: 0.3;
    fill: rgb(216, 203, 57);
}

/*ANIMACIÓN ENTRADA ----------------------------------------------*/ 
    @keyframes entrada {
        0% {
            left: -25%;
        }
        100% {
            left: var(--distancia-personaje-izda);
        }
    }