/*FONDO ========================================================================*/
/*NUBES ----------------------------------------------*/ 
#bg-nubes2-1 {
    position: absolute;
    top: 4%;
    width: 18%;
    left: 65%;
    animation: nubes2 5s ease-in-out infinite alternate;
}

#bg-nubes2-2 {
    position: absolute;
    top: 6%;
    width: 20%;
    left: 22%;
    animation: nubes2 7s ease-in-out infinite alternate;
}

@keyframes nubes2 {
    0% {
        transform: translateY(-8%);
    }
    100% {
        transform: translateY(8%);
    }
}

/*MONTAÑAS ----------------------------------------------*/ 
#bg-mountains2 {
    position: absolute;
    top: 9%;
    width: 100%;
}

/*ÁRBOLES Y RAYOS ----------------------------------------------*/ 
#bg-monticulo2 {
    position: absolute;
    top: 5%;
    left: 32%;
    width: 68%;
}

#bg-arbol2 {
    position: absolute;
    width: 40%;
    left: 1%;

}

/*SUELO BOSQUE ----------------------------------------------*/ 
#bg-suelo2 {
    position: absolute;
    width: 100%;
    bottom: 0;
}  

/*LUMO Y FLORA ========================================================================*/
#pumpum-aqua-container {
    right: 10%;
    bottom: 22%;
    width: 42%;
    height: auto;
    display: block;
    user-select: none;
    cursor: pointer;
}

/*BOTÓN BOCADILLO DIÁLOGO ========================================================================*/

#btnHablarConPumpum {
    left: 2%;
    top: 2%;
}

